In [1]:
__import__('pysqlite3')
import sys
sys.modules['sqlite3'] = sys.modules.pop('pysqlite3')
import dotenv

dotenv.load_dotenv("../.env")

from runner.database_manager import DatabaseManager

In [2]:
def _clean_sql(sql: str) -> str:
    """
    Cleans the SQL query by removing unwanted characters and whitespace.
    
    Args:
        sql (str): The SQL query string.
        
    Returns:
        str: The cleaned SQL query string.
    """
    return sql.replace('\n', ' ').replace('"', "'").strip("`.")

In [23]:
def exec_sql(sql1, sql2, db):
    db_manager = DatabaseManager(db_mode='dev', db_id=db)
    sql1, sql2 = _clean_sql(sql1), _clean_sql(sql2)
    print("sql 1: ")
    print(set(db_manager.execute_sql(sql=sql1)))
    print("sql 2: ")
    print(set(db_manager.execute_sql(sql=sql2)))

In [27]:
exec_sql(
    sql1= "SELECT s.City FROM frpm f JOIN schools s ON f.CDSCode = s.CDSCode WHERE f.`NSLP Provision Status` = 'Lunch Provision 2' AND f.`Low Grade` = '9' AND f.`High Grade` = '12' AND f.`County Name` = 'Merced' AND s.EILCode = 'HS' ORDER BY s.CDSCode LIMIT 1; ",
    sql2= "SELECT T1.City FROM schools T1 JOIN frpm T2 ON T1.CDSCode = T2.CDSCode WHERE T1.EILCode = 'HS' AND T2.`NSLP Provision Status` = 'Lunch Provision 2' AND T1.GSserved = '9-12' AND T1.County = 'Merced';",
    db="california_schools",
)

sql 1:
{('Le Grand',)}
sql 2:
set()

In [11]:
exec_sql(
    sql= "SELECT T1.City FROM schools T1 JOIN frpm T2 ON T1.CDSCode = T2.CDSCode WHERE T1.EILCode = 'HS' AND T2.`NSLP Provision Status` = 'Lunch Provision 2' AND T1.GSserved = '9-12' AND T1.County = 'Merced';",
    db="california_schools"
)

[]

In [17]:
exec_sql(
    sql= "SELECT T2.Name FROM users AS T1 INNER JOIN badges AS T2 ON T1.Id = T2.UserId WHERE T1.DisplayName = 'SilentGhost'",
    db="codebase_community"
)

{('Cleanup',),
 ('Editor',),
 ('Famous Question',),
 ('Favorite Question',),
 ('Good Question',),
 ('Nice Question',),
 ('Notable Question',),
 ('Popular Question',),
 ('Student',),
 ('Supporter',),
 ('Taxonomist',)}

In [29]:
exec_sql(
    sql1= "SELECT b.Name FROM badges b JOIN users u ON b.UserId = u.Id WHERE u.DisplayName = 'SilentGhost';",
    sql2= "SELECT T2.Name FROM users AS T1 JOIN badges AS T2 ON T1.Id = T2.UserId WHERE T1.DisplayName = 'SilentGhost' ORDER BY T2.Name LIMIT 1;",
    db="codebase_community"
)

sql 1:
{('Good Question',), ('Editor',), ('Student',), ('Supporter',), ('Popular Question',), ('Notable Question',), ('Cleanup',), ('Favorite Question',), ('Famous Question',), ('Taxonomist',), ('Nice Question',)}
sql 2:
{('Cleanup',)}

In [19]:
exec_sql(
    sql= "SELECT T2.Name FROM users AS T1 INNER JOIN badges AS T2 ON T1.Id = T2.UserId WHERE T1.DisplayName = 'SilentGhost'",
    db="codebase_community"
)

{('Cleanup',),
 ('Editor',),
 ('Famous Question',),
 ('Favorite Question',),
 ('Good Question',),
 ('Nice Question',),
 ('Notable Question',),
 ('Popular Question',),
 ('Student',),
 ('Supporter',),
 ('Taxonomist',)}

In [31]:
exec_sql(
    db="european_football_2",
    sql1= "SELECT P.player_name  FROM Player P  JOIN Player_Attributes PA ON P.player_api_id = PA.player_api_id  WHERE P.height > 180  GROUP BY P.player_api_id  ORDER BY AVG(PA.heading_accuracy) DESC  LIMIT 10; ",
    sql2= "SELECT T1.player_fifa_api_id FROM Player T1 JOIN Player_Attributes T2 ON T1.player_fifa_api_id = T2.player_fifa_api_id WHERE T1.height > 180 GROUP BY T1.player_fifa_api_id ORDER BY SUM(T2.heading_accuracy) DESC LIMIT 10;",
)

sql 1:
{('Per Mertesacker',), ('Michael Ballack',), ('John Terry',), ('Didier Drogba',), ('Miroslav Klose',), ('Fernando Morientes',), ('Daniel van Buyten',), ('Naldo',), ('Fernando Llorente',), ('Luca Toni',)}
sql 2:
{(193061,), (155887,), (162131,), (182495,), (138956,), (125995,), (183284,), (173210,), (41635,), (184344,)}

In [30]:
exec_sql(
    db="european_football_2",
    sql1= "SELECT t1.player_name FROM Player AS t1 INNER JOIN Player_Attributes AS t2 ON t1.player_api_id = t2.player_api_id WHERE t1.height > 180 GROUP BY t1.id ORDER BY CAST(SUM(t2.heading_accuracy) AS REAL) / COUNT(t2.`player_fifa_api_id`) DESC LIMIT 10",
    sql2= "SELECT P.player_name  FROM Player P  JOIN Player_Attributes PA ON P.player_api_id = PA.player_api_id  WHERE P.height > 180  GROUP BY P.player_api_id  ORDER BY AVG(PA.heading_accuracy) DESC  LIMIT 10; ",
)

sql 1:
{('Per Mertesacker',), ('Michael Ballack',), ('John Terry',), ('Didier Drogba',), ('Miroslav Klose',), ('Fernando Morientes',), ('Daniel van Buyten',), ('Naldo',), ('Fernando Llorente',), ('Luca Toni',)}
sql 2:
{('Per Mertesacker',), ('Michael Ballack',), ('John Terry',), ('Didier Drogba',), ('Miroslav Klose',), ('Fernando Morientes',), ('Daniel van Buyten',), ('Naldo',), ('Fernando Llorente',), ('Luca Toni',)}